# Folders
bin/
include/
lib/
share/

src/**/latex/imagens
src/aula01/imagens/
src/aula02/imagens/
src/aula03/imagens/
src/aula03/vídeos/
src/aula04/imagens/
src/aula04/vídeos/


# Symbolic link
lib64

# Files
.python-version
*.cfg
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tex
*.toc
*.vrb
*.sty
*.bib
*.drawio
*.pkl
src/aula06/aula06_deprecated.ipynb